:root {
	--color-bg: #{$color-white};
	--color-elements: #{$color-black};

	&.theme-dark {
		--color-bg: #{$color-black};
		--color-elements: #{$color-white};
	}
}

body {
	display: flex;
	flex-direction: column;
	font-family: $font-primary;
	width: 100vw;
	min-width: 375px;
	min-height: 100vh;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	background-color: var(--color-bg);
	color: var(--color-elements);
	font-size: 18px;
	line-height: 1.3;
}

.main {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
}
