mixin footer()
	// Footer
	footer.footer
		.footer__container.container
			.footer__content
				.footer__top-content
					.footer__title-box
						h2.footer__title Готов к новым знакомсвам?
							br
							|Присоединяйся!
						a.button.footer__button(href="#", target="_blank", rel="noreferrer") Открыть
					ul.footer__nav-list
						li.footer__nav-elem
							a.footer__nav-link(href="#") Конфиденциальность
						li.footer__nav-elem
							a.footer__nav-link(href="#") Условия
						li.footer__nav-elem
							a.footer__nav-link(href="#") Политика в отношении файлов Cookie
						li.footer__nav-elem
							a.footer__nav-link(href="#") Интеллектуальная собственность
					ul.footer__nav-list
						li.footer__nav-elem
							a.footer__nav-link(href="#") Частые вопросы
						li.footer__nav-elem
							a.footer__nav-link(href="#") Страны
						li.footer__nav-elem
							a.footer__nav-link(href="#") Пресса
						li.footer__nav-elem
							a.footer__nav-link(href="#") Контакты
						li.footer__nav-elem
							a.footer__nav-link(href="#") Промокод
				.footer__copyright
					p.footer__copyright-text Siomio
					p.footer__copyright-text 2023
